<div class="logo">
  <h1>Flocate</h1>
</div>

<div class="tile">
    <h2><%- items[0].message %></h2>
    <p><%- items[0].doing %><p>
    <small>Arrived at <%- Date(items[0].date) %>.</small>
</div>

<div style="position: relative">
  <div id="map_canvas" style="width:100%; height: 100%; border: solid 1px #959595;"></div>
</div>

<script>

        var myOptions = {
            center: new google.maps.LatLng(<%- items[0].location[0] %>, <%- items[0].location[1] %>),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: false,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            overviewMapControl: false
        };
        
        var mapElement = $("#map_canvas");

        var styles = [
          {
            stylers: [
              { hue: "#2742AE" },
              { saturation: 80 }
            ]
          },{
            featureType: "road",
            elementType: "geometry",
            stylers: [
              { lightness: 100 },
              { visibility: "simplified" }
            ]
          },{
            featureType: "road",
            elementType: "labels",
            stylers: [
              { visibility: "off" }

            ]
          }
        ];

        var infowindow;
        
        var map = new google.maps.Map(mapElement[0], myOptions);
        map.setOptions({styles: styles});

        var myIcon = new google.maps.MarkerImage("/img/940-pin-selected@2x-glow.png", null, null, null, new google.maps.Size(20,40));

        <% for (item in items) { %>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(<%- items[item].location[0] %>, <%- items[item].location[1] %>),
                map: map,            
                icon: myIcon
            });
        <% } %>

</script>
